{{<layout}}

{{$pageTitle}}
	MOJ - Business Income Summary
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <form action="/cart-summary" method="post" class="form">
    <div class = "form-group-compound">   
      <a id="back" class="link-back" href="javascript:history.back()">Back</a>
    </div>
    <h2 class="form-title heading-large">Cart summary</h2>
      <div class="form-group">
        <table>
          <tbody>
            <tr>
                <th>Item</th>
                <th style="text-align:right">Number</th>
                <th style="text-align:right">Cost</th>
                <th style="text-align:right">Discount %</th>
                <th style="text-align:right">Discount</th>
                <th style="text-align:right">Total</th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <td>Laser Sword</td>
                <td style="text-align:right">1</td>
                <td style="text-align:right">£1000</td>
                <td style="text-align:right">10%</td>
                <td style="text-align:right">£100</td>
                <td style="text-align:right">£900</td>
                <td class="link-right">
                  <a href="#">delete</a>
                </td>
            </tr>
            <tr>
                <td>R2D2</td>
                <td style="text-align:right">1</td>
                <td style="text-align:right">£1000</td>
                <td style="text-align:right">0%</td>
                <td style="text-align:right">£0</td>
                <td style="text-align:right">£1000</td>
                <td class="link-right">
                    <a href="#">delete</a>
                </td>
            </tr>
            <tr>
                <th>Total</th>
                <th style="text-align:right">2</th>
                <th style="text-align:right">£2000</th>
                <th style="text-align:right">&nbsp;</th>
                <th style="text-align:right">£100</th>
                <th style="text-align:right">£1900</th>
                <th>&nbsp;</th>
            </tr>
          </tbody>
      </table>
    </div>
    <div class="form-group">
      <a id="busAddYear" href="/moj/item-detail">Add another item</a> 
    </div>
    </fieldset>
    <div class="form-group">
        <button class ="btn button" type "next">Next</button>
    </div>
  </form>
</main>

{{/content}}

{{/layout}}